@import "../../style/variables";
@import "../../style/buttons";
@import "../../style/headings";
@import "../../style/bootstrapImports";

.signUpSection {
  /* All section style */
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: $lightColor;

  .signInImg {
    background-color: $lightColor;
    margin: auto 0;

    img {
      width: 100%;
    }
  }

  h2 {
    @include mainHeading;
    font-size: 2.8rem;
    color: $primaryColor;
    margin-bottom: 4rem;
  }

  h4 {
    font-size: 1.25rem;
    color: $primaryColor;
    margin-bottom: 2rem;

    &::before {
      display: inline-block;
      border-top: 0.4rem solid #fe8f7c;
      border-radius: $borderRadius;
      width: 3.5rem;
      height: 0;
      content: "";
      margin: auto 0.5rem auto 0;
    }
  }

  a {
    color: $primaryColor;

    &:hover {
      text-decoration: none;
      color: $warningColor;
    }
  }

  hr.divider {
    overflow: visible;
    padding: 0;
    margin-bottom: 0.625rem;
    border: none;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: center;

    &::after {
      content: "Or";
      display: inline-block;
      position: relative;
      top: -0.8rem;
      padding: 0 1rem;
      background: $lightColor;
    }
  }

  /* Icons Style */
  .signInIcons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: 0;
  }

  .signInIcon {
    list-style: none;
    background-color: $successColor;
    border-radius: 50px;
    padding: 0.6rem;
    margin: 1rem 0;

    &:hover {
      background-color: $primaryColor;
    }
  }

  .signInIcon img {
    width: 2rem;
    height: 2rem;
  }
}
