@import "../../style/variables";

// Bootstrap class
.container {
  font-family: $mainFontFamily;

  .searchBar {
    margin-bottom: 2rem;
  }

  .blogPostImg {
    width: 21rem;
    height: 21rem;
    border-radius: 11%;
    object-fit: cover;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.05);
    margin: 0 0 1rem 1rem;
  }

  .blogPostTitle {
    text-align: center;
    color: $primaryColor;
    width: 19.3125rem;
    font-size: 1.25rem;

    z-index: 2;
    padding: 0 0 1rem 1.6rem;
  }

  // .shadowEffect {
  //   background: linear-gradient(
  //     0deg,
  //     rgba(255, 254, 252, 0.8015581232492998) 0%,
  //     rgba(255, 254, 252, 0) 42%
  //   );
  //   width: 23rem;
  //   height: 23rem;
  //   border-radius: 1.5rem;
  //   z-index: 1;
  //   position: absolute;
  // }
}
