@import "../../style/variables";
@import "../../style/buttons";

.jobsTrainingSection {
  padding-top: 3.125rem;
  margin-top: 1.875rem;
  padding-bottom: 3.125rem;
  background-color: $secondaryColor;
  width: 100%;
  font-family: $mainFontFamily;

  h6 {
    color: $primaryColor;
    margin-bottom: 3rem;
  }

  a {
    color: $primaryColor;
    &:hover {
      color: $primaryColor;
    }
  }

  .opportunitiesButton {
    text-align: right;
    color: $primaryColor;
    margin: 3rem 0;
  }
}
