@import "../../style/variables";
@import "../../style/buttons";

.jobsTrainingSection {
  padding-top: 3.125rem;
  margin-top: 1.875rem;
  padding-bottom: 3.125rem;
  background-color: $secondaryColor;
  width: 100%;
  text-align: center;
  font-family: $mainFontFamily;
}

.title {
  color: $primaryColor;
  font-size: 1.75rem;
}

.trainingsBtn,
.jobsBtn {
  @include primaryBtn;
  width: 12.75rem;
  border-radius: 0;
  background-color: $secondaryColor;

  &:hover {
    border-right: solid $primaryColor;
    color: $primaryColor;
  }

  &:focus {
    border-right: solid $primaryColor;
    outline: 0;
    color: $primaryColor;
  }
}

.jobsBtn {
  margin-top: 1.875rem;
}
