@import "../../style/variables"; 
@import "../../style/buttons";

.jobsTrainingSection{
    padding-top: 50px;
    margin-top: 30px;
    background-color: $successColor;
    width: 100%;
    text-align: center;
    font-family:$mainFontFamily ;

.col-md-4{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}
}
.jobsTrainingSection button {
    @include primaryBtn;
    width: 100px;
    margin:20px;
}
