$warningColor: #ffbfb5;
$darkColor: #4f4f4f;
$lightColor: #fffefc;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$mainFontFamily: "Roboto", sans-serif;

.violence-intro {
  background-color: #c8d7c2;
  font-family: Roboto;
  padding: 5rem 0;

  .violence-test {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
  }

  h3 {
    color: #fe8f7c;
    padding-top: 0.8rem;
  }
  p,
  h5 {
    color: #fffefc;
    text-align: justify;
  }

  span {
    font-size: 0.9rem;
  }
  Button {
    color: #fffefc !important;
    background-color: #fe8f7c !important;
    border: none !important;
  }
  img {
    width: 100%;
    margin-top: 1rem;
  }
}
