@import "../../style/variables";

.violenceIntro {
  background-color: $secondaryColor;
  font-family: $mainFontFamily;
  padding: 5rem 0;

  .violenceTest {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-content: baseline;
    flex-wrap: wrap;
  }

  h3 {
    color: $primaryColor;
    padding-top: 0.8rem;
  }

  p,
  h6 {
    color: $lightColor;
    text-align: justify;
  }

  button {
    width: 8rem;
    height: 2rem;
    color: $lightColor;
    background-color: $primaryColor;
    border: none;

    &:hover {
      background-color: $lightColor;
      color: $primaryColor;
    }
  }

  img {
    width: 100%;
    margin-top: 1rem;
  }
}
