@import "../../style/variables";

/* Colors */

.violenceIntro {
  background-color: $secondaryColor;
  font-family: Roboto;
  padding: 5rem 0;

  .violenceTest {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
  }

  h3 {
    color: $primaryColor;
    padding-top: 0.8rem;
  }

  p,
  h5 {
    color: #fffefc;
    text-align: justify;
  }

  span {
    font-size: 0.9rem;
  }

  button {
    color: $lightColor;
    background-color: $primaryColor;
    border: none;

    &:hover {
      background-color: $lightColor;
      color: $primaryColor;
    }
  }

  img {
    width: 100%;
    margin-top: 1rem;
  }
}
