
.violence-intro{
    background-color: #C8D7C2;
    padding:5rem 0;
}

.violence-test {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

h2 {
    color: #FE8F7C;
    padding-top:1rem;
}
p, h5{
    color: #FFFEFC;
    text-align: justify;
}

span {
    font-size: .9rem;
}
Button {
    color:#FFFEFC !important;
    background-color: #FE8F7C !important;
    border: none !important;
}


/* 


 .violence-intro{
    background-color: #C8D7C2;
    padding :12rem 15rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.violence-img{
 width:45%;
 height: auto;
}
.second-section{
 padding-left: 2rem;
  width:45%;
  height: auto;
  display: flex;
  flex-direction: column;
 justify-content: space-between;
}

.violence-images{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}


.violence-test div {
    display: flex;
    justify-content: space-between;
} */
