
$warningColor: #ffbfb5;
$darkColor: #4f4f4f;
$lightColor: #fffefc;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$mainFontFamily: "Roboto", sans-serif;

.violence-intro{
    background-color: #C8D7C2;
    font-family: Roboto;
    padding:5rem 0;

    .violence-test {
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        align-content:flex-end;
        flex-wrap: wrap;
    }
    
    h3 {
        color: #FE8F7C;
        padding-top:.8rem;
    }
    p, h5{
        color: #FFFEFC;
        text-align: justify;
    }
    
     span {
        font-size: .9rem;
    }
    Button {
        color:#FFFEFC !important;
        background-color: #FE8F7C !important;
        border: none !important;
    }
    img{
      width:100%;
      margin-top:1rem;
    }
}

