@import "../../style/variables";
@import "../../style/buttons";

.jobsTrainingContent {
  .searchBar {
    margin-bottom: 2rem;
  }

  .cards {
    width: 100%;
  }

  .greenBorder > * {
    border: solid 0.15rem $secondaryColor;

    .title {
      color: $secondaryColor;
    }

    .borderLine {
      border-bottom: 0.125rem solid $secondaryColor;
    }
  }

  .peachBorder > * {
    border: solid 0.15rem $warningColor;
  }
}
