@import "../../style/variables";

.jobsTrainingHeader {
  h2 {
    color: $primaryColor;
    font-family: $mainFontFamily;
    margin-top: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  h6 {
    color: $darkColor;
    text-align: center;
    font-family: $mainFontFamily;
    margin-bottom: 3rem;
  }
}
