@import "../../style/variables";

.card {
  background-color: $warningColor;
  border: none;
  border-radius: 1.5rem;
  margin:2rem .5rem 3rem .5rem;
  padding: 1rem ;

  h1 {
    color: $darkColor;
  }

  h5 {
    color: $lightColor;
  }

  .test {
    display: flex;
    flex-direction: column;
    color: $lightColor;
  }

  input {
    margin-right:.5rem;
  }
  
}