@import "../../style/variables";
@import "../../style/bootstrapImports";
@import "../../style/buttons";
@import "../../style/bootstrapImports";

.homeCarousel {
  text-align: center;
  font-family: $mainFontFamily;

  .title {
    color: $primaryColor;
    font-weight: bold;
    margin-top: 3rem;
    font-family: $mainFontFamily;
    text-align: center;
    font-size: 2rem;
    padding-top: 0.5rem;
  }

  h6 {
    color: $darkColor;
    text-align: center;
    font-family: $mainFontFamily;
    margin-bottom: 3rem;
  }

  .slick-slider {
    display: flex;
    flex-direction: row !important;
    align-items: center;

    .arrow {
      margin-bottom: 3rem;
    }

    .slick-list {
      width: 100%;
      display: flex;
      flex-direction: row;

      .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .slick-track {
      display: flex;
    }
  }

  a {
    @include normalLink;
  }

  .allBlogsBtn {
    justify-content: flex-end;
    margin: 3rem 0 5rem 0;

    h6 {
      color: $primaryColor;
    }
  }
}
