@import "../../style/variables";
@import "../../style/bootstrapImports";

.blogImage {
  width: 22rem;
  height: 12rem;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 1.5rem;
}
.homeCarousel {
  text-align: center;
  font-family: $mainFontFamily;
}
.title {
  color: $primaryColor;
}
.allBlogsBtn {
  padding: 2rem;
  margin: 2rem;
  text-align: right;
  color: $primaryColor;
}
.blogLabel {
  position: absolute;
  margin: 3rem;
  width: 18rem;
  height: 3rem;
  color: $darkColor;
}
