@import "../../style/variables";
@import "../../style/buttons";
@import "../../style/headings";

.searchHelpPage {
  margin-bottom: 2rem;
  .mapStyle {
    height: 70vh;
  }

  h2 {
    @include mainHeader;
  }

  h6 {
    @include secondaryHeader;
  }

  .seekHelpCards {
    height: 70vh;
    overflow: auto;
    padding: 0;
  }

  p {
    color: $darkColor;
  }

  .singleCard {
    margin-bottom: 1rem;
    background-color: $lightColor;
    border: 0.12rem solid;
    border-color: $warningColor;

    &:hover {
      background-color: $warningColor;
      cursor: pointer;
    }
  }

  // Bootstrap class
  .btn,
  .btn-primary {
    @include primaryBtn;
    background-color: $lightColor;
    color: $warningColor;
    border: 0.12rem solid;
    border-color: $warningColor;
    margin: 1rem 1rem;
    padding: 0;
    min-height: 2rem;
    width: 8rem;
    font-weight: bold;

    &:focus {
      color: $lightColor;
      background-color: $warningColor !important;
      box-shadow: none !important;
      border-color: $warningColor !important;
    }

    &:hover {
      color: $lightColor !important;
      background-color: $warningColor !important;
      border-color: $warningColor !important;
    }
  }

  .dropdown-item {
    &:focus {
      background-color: $warningColor !important;
    }
  }
}
