@import "../../style/variables";
@import "../../style/headings";

.contactUsPage {
  .contactContainer {
    background-color: $lightColor;

    .contactForm {
      background-color: $warningColor;
      padding: 3rem;
    }

    .contactInfo {
      h2 {
        text-align: left;
        margin-top: 1rem;
        font-weight: 500;
        font-size: 1.8rem;
      }
    }
  }

  h2 {
    @include mainHeader;
  }

  h6 {
    @include secondaryHeader;
  }
}
