@import "../../style/variables";

.opportunities {
  width: 356px;
  height: 283px;
  background:$lightColor;
  padding: 20px;
  margin: 20px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.opportunityPostDate {
    font-size: 10px;
  padding-left: 80%;
  width: 70px;
}
.opportunityTitle {
    padding-bottom: 2%;
  font-size: 18px;
  color: $primaryColor;
  text-align: left;
}
.opportunityDescription {
    font-size: 14px;
  text-align: left;
}
.opportunityContactsDetails {
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
}
.opportunityAddress {
  text-align: left;
  font-size: 13px;
}
.opportunityPhoneNumber {
  text-align: right;
  font-size: 13px;
    width: 108px;
}
.borderLine{
    padding:7%;
    border-bottom: 2px solid $warningColor;
}
