@import "../../style/variables";
@import "../../style/buttons";

.blogContent {
  font-family: $mainFontFamily;
  color: $darkColor;

  img {
    margin: 1rem 0;
    border-radius: 1.5rem;
    position: relative;
    object-fit: cover;
    object-position: 0 25%;
    width: 100%;
    height: 20rem;
  }

  .relatedPostImg{
    width: 100%;
    height: 25%;
  }

  a:hover {
    text-decoration: underline;
    color: $primaryColor;
  }

  h4 {
    margin-top: 3rem;
    font-weight: bold;
  }

  h5 {
    margin-top: 3rem;
    font-weight: bold;
    color: $primaryColor;
  }

  .socialMediaIcons {
    width: 15rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 3rem;
    svg {
      width: 1.5rem;
      height: auto;

      path {
        fill: $darkColor;
      }
    }
  }
}
