$PeachColor: #fe8f7c;
$LightCream: #fffefc;
$LightPeachColor: #ffbfb5;
$LightCreamOpacity: rgba(255, 254, 252, 0.6);
$LightGreen:#C8D7C2;

.navbar {
  background-color: $LightGreen;
  height: 4rem;
  padding: 0 14rem;

  .navbar-nav{
      margin-left:auto; 
      align-items:baseline;
  }
  .nav-link{
    color:$LightCream!important;
    font-weight: bold;
  }
  p {
    margin: 0.1rem;
  }

  button {
    height: 2rem;
    color:$LightCream;
    padding: 0 2rem;
    border-color: $LightCream;
    font-weight: bold;
  }

  button:focus {
    box-shadow: 0 0 0 0.2rem $PeachColor;
  }
  button:hover {
    color: $PeachColor;
    background-color: $LightCream;
    border-color: $LightCream;
  }
  .form-control:focus {
    border-color: $PeachColor;
    box-shadow: 0 0 0 0.2rem $LightCream;
  }

  .sign-up-btn {
    height: 2rem;
    padding: 0 2rem;
    color: $LightCream;
    background-color: $PeachColor;
    border-color: $PeachColor;
  }
}
