@import "../../style/variables";

$lightColorOpacity: rgba(255, 254, 252, 0.6);

.navbar {
  background-color: $secondaryColor;
  height: 4rem;
  padding: 0 14rem;
  font-family: $mainFontFamily;

  .navbar-nav {
    margin-left: auto;
    align-items: baseline;
  }
  .nav-link {
    color: $lightColor !important;
    font-weight: bold;
  }
  p {
    margin: 0.1rem;
  }

  button {
    height: 2rem;
    color: $lightColor;
    padding: 0 2rem;
    border-color: $lightColor;
    font-weight: bold;
  }

  button:focus {
    box-shadow: 0 0 0 0.2rem $primaryColor;
  }
  button:hover {
    color: $primaryColor;
    background-color: $lightColor;
    border-color: $lightColor;
  }
  .form-control:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 0.2rem $lightColor;
  }

  .signUpBtn {
    height: 2rem;
    padding: 0 2rem;
    color: $lightColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}
