$PeachColor: #fe8f7c;
$LightCream: #fffefc;
$LightPeachColor: #ffbfb5;
$LightCreamOpacity: rgba(255, 254, 252, 0.6);
$LightGreen:#C8D7C2;

.navbar {
  background-color: $LightGreen;
  height: 4rem;
  padding: 0 14rem;

  .navbar-nav{
      margin-left:auto; 
  }

  p {
    margin: 0.1rem;
  }

  button {
    height: 2rem;

    padding: 0 2rem;
    color: $LightCream;
    background-color: $LightGreen;
    border-color: $LightCream;
  }

  button:focus {
    box-shadow: 0 0 0 0.2rem $PeachColor;
  }
  button:hover {
    color: #fff;
    background-color: $PeachColor;
    border-color: $PeachColor;
  }
  .form-control:focus {
    border-color: $PeachColor;
    box-shadow: 0 0 0 0.2rem $PeachColor;
  }
  button:last-child {
    height: 2rem;
    padding: 0 2rem;
    color: $PeachColor;
    background-color: $LightCreamOpacity;
    border-color: $LightCream;
  }
}
