@mixin primaryBtn {
  background-color: $primaryColor;
  color: $lightColor;
  width: 30%;
  min-height: 2.6rem;
  border: 0;
  border-radius: $borderRadius;

  &:hover {
    background-color: $secondaryColor;
  }
}

@mixin helpNavbarForm {
  border: solid 0.12rem $lightColor;
  color: $primaryColor;
  background-color: $lightColorSearch;
  border-color: $lightColor;

  &:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 0.2rem $primaryColor;
  }

  &::placeholder {
    color: $primaryColor;
  }
}

@mixin helpNavbarBtn {
  color: $lightColor;
  border-color: $lightColor;

  &:focus {
    box-shadow: 0 0 0 0.2rem $lightColor;
  }

  &:hover {
    color: $primaryColor;
    background-color: $lightColor;
    border-color: $lightColor;
  }

  &:active {
    color: $lightColor;
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
    box-shadow: 0 0 0 0.2rem $primaryColor !important;
  }
}
