@mixin mainHeader {
  color: $primaryColor;
  font-weight: bold;
  margin-top: 3rem;
  font-family: $mainFontFamily;
  text-align: center;
  font-size: 2rem;
  padding-top: 0.5rem;
}

@mixin secondaryHeader {
  color: $darkColor;
  text-align: center;
  font-family: $mainFontFamily;
  margin-bottom: 3rem;
}

@mixin contactHeader {
  font-family: $mainFontFamily;
  font-style: normal;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 32px;
}
