@mixin primaryBtn {
  background-color: $primaryColor;
  color: $lightColor;
  width: 30%;
  min-height: 2.6rem;
  border: 0;
  border-radius: $borderRadius;

  &:hover {
    background-color: $secondayColor;
  }
}
