/* Colors */
$primaryColor: #fe8f7c;
$secondaryColor: #c8d7c2;
$lightColor: #fffefc;
$warningColor: #ffbfb5;
$errorColor: #f23a3c;
$successColor: #8ccbba;
$darkColor: #4f4f4f;
$lightColorSearch: rgba(255, 254, 252, 0.6);

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$mainFontFamily: "Roboto", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
$secondaryFontFamily: "Caveat", cursive;

$borderRadius: 4px;
