/* add all shared styles here */
$primaryColor: #fe8f7c;
$warningColor: #ffbfb5;
$darkColor: #4f4f4f;
$lightColor: #fffefc;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$mainFontFamily: "Roboto", sans-serif;
