@import "../../style/variables";
@import "../../style/bootstrapImports";

.opportunities {
  background: $lightColor;
  padding: 1.25rem;
  margin: 1.25rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  .postDate {
    font-size: 0.625rem;
    padding-left: 80%;
    width: 4.375rem;
  }

  .title {
    padding-bottom: 2%;
    font-size: 1.125rem;
    color: $primaryColor;
    align-self: flex-start;
  }

  .description {
    font-size: 0.875rem;
    text-align: left;
  }

  .contactsDetails {
    font-size: 0.8125rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .address {
    text-align: left;
    padding-right: 30%;
  }
  .phoneNumber {
    padding-left: 62%;
  }

  .borderLine {
    padding: 7%;
    border-bottom: 0.125rem solid $warningColor;
    margin-bottom: 0.4rem;
  }
}

@include media-breakpoint-down(sm) {
  .opportunities {
    width: 75% !important;
    margin: 1.25rem 5rem;
  }
}
