@import "../../style/variables";
@import "../../style/bootstrapImports";

.opportunities {
  background: $lightColor;
  padding: 1.25rem;
  margin: 1.25rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  .postDate {
    font-size: 0.8125rem;
    align-self: flex-end;
    width: 4.375rem;
  }

  .title {
    padding-bottom: 2%;
    font-size: 1.125rem;
    color: $primaryColor;
    align-self: flex-start;
  }

  .description {
    font-size: 0.875rem;
    text-align: left;
    text-align: justify;
  }

  .contactsDetails {
    font-size: 0.8125rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .address {
    text-align: left;
  }
  .phoneNumber {
    align-self: flex-end;
    font-size: 0.8125rem;
  }

  .borderLine {
    padding: 0.5rem;
    border-bottom: 0.125rem solid $warningColor;
    margin-bottom: 0.4rem;
  }
}
