@import "../../style/variables";

.aboutUsPage {
  h2 {
    color: $primaryColor;
    font-family: $mainFontFamily;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    color: $primaryColor;
    font-family: $mainFontFamily;
    font-size: 1.125rem;
    max-width: 95%;
    text-align: justify;
    margin-top: 2rem;
  }
}
