@import "../../style/variables";
@import "../../style/headings";

.aboutUsPage {
  h2 {
    @include mainHeader;
  }

  p {
    color: $primaryColor;
    font-family: $mainFontFamily;
    font-size: 1.125rem;
    text-align: justify;
    margin-top: 2rem;
  }
}
