@import "../../style/variables";

.aboutUsPage {
  h2 {
    color: $primaryColor;
    font-family: $mainFontFamily;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    color: $primaryColor;
    font-family: $mainFontFamily;
    margin: 2rem 0 0 2rem;
    font-size: 1.125rem;
    max-width: 95%;
  }
}
