@import "../../style/variables";
@import "../../style/buttons";

.jobsTrainingContent {
  margin-top: 3rem;

  .trainingsBtn,
  .jobsBtn {
    @include primaryBtn;
    width: 12.75rem;
    border-radius: 0;
    text-align: right;
    color: $darkColor;
    background-color: transparent;

    &:focus,
    &:active,
    &:hover,
    &:disabled {
      border-right: solid $primaryColor;
      outline: 0;
      color: $primaryColor;
      background-color: transparent;
    }
  }

  .cards {
    width: 100%;
  }

  .greenBorder > * {
    border: solid 0.15rem $secondaryColor;

    .title {
      color: $secondaryColor;
    }

    .borderLine {
      border-bottom: 0.125rem solid $secondaryColor;
    }
  }

  .peachBorder > * {
    border: solid 0.15rem $warningColor;
  }
}
