.carouselSize {
  width: 50%;
  /* margin: -14rem 0rem 0rem 40rem; */
}
.carouselItem {
  background-color: #ffbfb5;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 20px;
}
/* .slick-prev:after {
  background-image: url("images/Chevron-right.svg");
  background-size: 50px 50px;
  display: inline-block;

  width: 50px;
  height: 50px;
  content: "";
} */
/* .slick-next:after {
  background-image: url("images/Chevron.svg");
  background-size: 50px 50px;
  display: inline-block;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  content: "";
} */
