@import "../../style/variables";
@import "../../style/buttons";

.carousel {
  z-index: 1;
  bottom: 12rem;

  .slick-slide {
    padding: 0 1rem;
  }

  .slick-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .searchHelpBtn {
    justify-content: flex-end;
    color: $primaryColor;
    margin: 3rem 0;
  }

  a {
    @include normalLink;
  }
}
