@import "../../style/variables";
@import "../../style/buttons";

.carousel {
  z-index: 1;
  bottom: 12rem;

  .slick-slide {
    padding: 0 1rem;
  }

  .slick-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .searchHelpBtn {
    text-align: right;
    color: $primaryColor;
    margin: 4rem 1.5rem 0 0;
  }
}
