@import "../../style/variables";

.carouselItem {
  background-color: $warningColor;
  border-radius: 20px;
  padding: 2rem;

  h3 {
    color: $darkColor;
    font-size: 42px;
    font-weight: bold;
    font-family: $mainFontFamily;
  }
  h4 {
    color: $darkColor;
    font-size: 20px;
    font-family: $mainFontFamily;
  }
  p {
    color: $lightColor;
    font-size: 12px;
  }
}

.carouselHeaderAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactDetails {
  display: flex;
  flex-direction: row;
}

.carousel {
  position: absolute;
  z-index: 2;
  top: 26rem;
}

.slick-slide {
  padding: 0 1rem;
}

.slick-slider {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
