@import "../../style/variables";
@import "../../style/bootstrapImports";

footer {
  background-color: $secondaryColor;
  padding: 2rem 0;
  font-weight: bold;

  .row {
    align-items: center;
    justify-content: flex-start;
  }
  .icon g {
    fill: $primaryColor;
  }

  .footer-info {
    color: $lightColor;
    text-align: right;

    p:hover {
      color: $primaryColor;
      cursor: pointer;
    }
    img:hover {
      background-color: $primaryColor;
      padding: 0.1rem;
      border-radius: 0.2rem;
    }
  }

  a {
    margin-left: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  footer {
    .row {
      flex-direction: column;
      text-align: center;
    }
    .footer-info {
      text-align: center;
      margin-top: 1rem;
    }
  }
}
