@import "../../style/variables";

.singleCard {
  border-radius: 20px;
  padding: 2rem;
  border: 0.15rem solid;
  border-color: $warningColor;
  margin-left: 0.3rem;

  h3 {
    color: $darkColor;
    font-size: 42px;
    font-weight: bold;
    font-family: $mainFontFamily;
  }

  h4 {
    color: $darkColor;
    font-size: 20px;
    font-family: $mainFontFamily;
  }

  p {
    color: $darkColor;
    font-size: 12px;
  }

  .phoneSvg path {
    fill: $darkColor;
  }

  &:hover {
    background-color: $warningColor;
    cursor: pointer;

    p {
      color: $lightColor;
      font-size: 12px;
    }
  }
}

.cardImgAndHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactDetails {
  display: flex;
  flex-direction: row;
}
