@import "../../style/variables";

.seekHelpSection {
  background: $lightColor;

  h2 {
    color: $primaryColor;
    text-align: center;
    font-family: $mainFontFamily;
    font-weight: bold;
    margin-top: 3rem;
  }

  h6 {
    color: $darkColor;
    text-align: center;
    font-size: 16px;
    font-family: $mainFontFamily;
    margin-bottom: 3rem;
  }

  .mapStyle {
    height: 70vh;
    width: 100%;
  }
}
