@import "../../style/variables";
@import "../../style/bootstrapImports";
@import "../../style/headings";

.seekHelpSection {
  background: $lightColor;
  height: 54rem;
  margin-bottom: 5rem;

  h2 {
    @include mainHeader;
  }

  h6 {
    @include secondaryHeader;
  }

  .mapStyle {
    height: 70%;
    width: 100%;
    margin-top: 3rem;
  }

  @include media-breakpoint-down(sm) {
    height: 220rem;
  }

  @include media-breakpoint-down(md) {
    height: 100rem;
  }
}
