@import "../../style/variables";
@import "../../style/buttons";
@import "../../style/bootstrapImports";

.helpNavbar {
  background-color: $warningColor;
  color: $lightColor;
  height: 3rem;

  img {
    width: 25px;
  }

  p {
    margin: 0.1rem;
  }

  button {
    height: 2rem;
    padding: 0 2rem;
    color: $lightColor;
    border-color: $lightColor;

    &:focus {
      box-shadow: 0 0 0 0.2rem $lightColor;
    }

    &:hover {
      color: $primaryColor;
      background-color: $lightColor;
      border-color: $lightColor;
    }

    &:active {
      color: $lightColor;
      background-color: $primaryColor !important;
      border-color: $primaryColor !important;
      box-shadow: 0 0 0 0.2rem $primaryColor !important;
    }
  }

  .form-control {
    height: 2rem;
    border: solid 0.12rem $lightColor;
    color: $primaryColor;
    background-color: $lightColorSearch;
    border-color: $lightColor;

    &:focus {
      border-color: $primaryColor;
      box-shadow: 0 0 0 0.2rem $primaryColor;
    }

    &::placeholder {
      color: $primaryColor;
    }
  }
}
@include media-breakpoint-down(sm) {
  .helpNavbar {
    height: 5rem;

    .container {
      flex-direction: column;
    }

    .form-inline {
      justify-content: space-between;
      margin-bottom: 0.3rem;
    }

    .form-control {
      width: 60%;
    }
  }
}
