@import "../../style/variables";

.ourTeam {
  h4 {
    color: $successColor;
    font-weight: bold;
    font-size: 24px;
    font-family: $mainFontFamily;
    text-align: center;
    margin-top: 3rem;
  }

  .portraitImg {
    height: 13rem;
    width: 13rem;
    border-radius: 120px;
    border: 0.22rem solid;
    border-color: $primaryColor;
    margin: -1px;
  }

  h5 {
    font-size: 20px;
    color: $primaryColor;
  }
  h6 {
    font-size: 14px;
    color: $primaryColor;
  }
  .singleMemberInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0.8rem 1rem 0.8rem;
  }
}
