@import "../../style/variables";

.ourTeam {
  h4 {
    color: $successColor;
    font-weight: bold;
    font-size: 24px;
    font-family: $mainFontFamily;
    text-align: center;
    margin-top: 3rem;
  }
  .img {
    border-radius: 50px;
  }
  h5 {
    font-size: 20px;
    color: $primaryColor;
  }
  h6 {
    font-size: 14px;
    color: $primaryColor;
  }
}
