@import "../../style/variables";

.ourTeam {
  h4 {
    color: $successColor;
    font-weight: bold;
    font-size: 24px;
    font-family: $mainFontFamily;
    text-align: center;
    margin-top: 3rem;
  }
}
