@import "../../style/variables";

.ourTeamInfo {
  .linkedInIcon {
    margin-left: 0.5rem;
  }
  .portraitImg {
    height: 13rem;
    width: 13rem;
    border-radius: 10rem;
    border: 0.22rem solid;
    border-color: $primaryColor;
    background-color: $primaryColor;
  }
  .singleMemberInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0.8rem;
  }
  h4 {
    color: $successColor;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: $mainFontFamily;
    text-align: center;
    margin-top: 3rem;
  }
  h5 {
    margin-top: 0.7rem;
    font-size: 1.25rem;
    color: $primaryColor;
  }
  h6 {
    font-size: 0.875rem;
    color: $primaryColor;
  }
}
